<h2>Carro de compras</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        @for (item of items; track $index) {

            <tr class="table-primary">
                <td> {{ item.product.name }} </td>
                <td> {{ item.product.price }} </td>
                <td> {{ item.quantity }} </td>
                <td> {{ item.product.price * item.quantity }} </td>
            </tr>
        }

    </tbody>
</table>